footer {
  li + li {
    border-top: 1px solid $border-color;
  }
}

.c-footer {
  &__column {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__nav {
    font-size: 0.9rem;

    @media (min-width: $breakpoint-1) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.5rem;
    }

    &__title {
      font-weight: 500;
      margin-bottom: 5px;
    }
  }

  &__list {
    margin-bottom: 20px;

    &__item {
      color: $link-color;
    }

    &__link {
      display: inline-block;
      margin-block: 0.75rem;
    }
  }

  &__sublist {
    font-size: 0.75rem;
    border-top: 1px solid $border-color;

    &__title {
      width: 100%;
      text-align: left;
      margin-block: 0.75rem;
      color: $link-color;
      background: none;
      border: none;
      font-size: inherit;
      transition: color 0.3s;

      &:hover {
        color: $sublist-color;
      }
    }

    &__item {
      margin-left: 1rem;
      padding-block: 0.5rem;
    }

    &__link {
      color: $sublist-color;
    }
  }

  &__link,
  &__list__link,
  &__sublist__link {
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 100%;
      height: 1px;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s;
    }

    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }
  }

  &__link,
  &__list__link {
    &::before {
      background-color: $link-color;
    }
  }

  &__sublist__link {
    &::before {
      background-color: $sublist-color;
    }
  }
}
