footer {
  li + li {
    border-top: 1px solid $border-color;
  }
}

.c-footer {
  &__title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    font-size: 0.9rem;

    &__title {
      font-weight: 500;
      margin-bottom: 5px;
    }

    &__list {
      margin-bottom: 20px;
    }

    &__list-item {
      a {
        color: $link-color;
        display: block;
        padding-block: 0.75rem;
      }
    }

    &__sublist {
      font-size: 0.75rem;
      border-top: 1px solid $border-color;
    }

    &__sublist-item {
      margin-left: 1rem;

      a {
        padding-block: 0.5rem;
        color: $sublist-color;
      }
    }
  }

  &__link {
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $link-color;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s;
    }

    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }
  }
}
