$primary-color: #179ce4;

$text-color: #2f3132;
$text-color--article: #636363;
$text-color--light: #aeaeae;
$text-color--inverted: #ffffff;

$link-color: #1a94e6;

$done-color: #8bc241;
$done-color--light: #e2f0cf;

$border-color: #dedede;
$sublist-color: #616161;
$expand-color: #717171;
